{% extends 'base.html' %} {% block title %}Student List{% endblock %}
 {% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      {% for message in messages %}
      <div class="text-">{{ message }}</div>
      {% endfor %}
    </div>
  </div>
  <div class="container mt-5">
    <form method="post">
      {% csrf_token %}

      <div class="col-6 mx-auto card p-3 shadow-lg">
        <h2 class="text-center">Login</h2>
        <div class="mb-3">
          <label class="form-label">User name </label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            required
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary mt-3">log ln</button>
        
        <a href="{% url 'register' %}" class="btn btn-success mt-5">register</a>


        <br />
      </div>
    </form>
  </div>
{% endblock %}
