{% extends 'base.html' %}
{% load i18n django_bootstrap5 %}
{% block title %}Student Details{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'student_profile.css' %}">
    
<section class="pb-4">
 <div class="border rounded-5">
   <div class="mask d-flex align-items-center h-100 gradient-custom-3">
     <div class="container h-100">
       <div class="row d-flex justify-content-center align-items-center h-100">
         <div class="col-12 col-md-9 col-lg-7 col-xl-7">
           <div class="card mt-4 ">
                {% comment %} <form method="post"enctype="multipart/form-data" >
                  {% csrf_token %}
                      <div class="heading text-center bg-dark text-white">
                            <h1>ADD YOUR DETAILS </h1>
                      </div>
                      <div class="container col-md-7 col-lg-8">
                            
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="mb-3"><label class="visually-hidden" for="id_student_name">Student name</label>
                                  <input type="text" name="student_name" maxlength="250" class="form-control" placeholder="Student name"  id="id_student_name" pattern="[A-Z][a-zA-Z]{3,59}( [A-Z][a-zA-Z]{3,59})?"title="Name should be 4 to 120 characters with the first letter capitalized" required></div>
                              
                                </div>
                                
                              
                              <div class="col-sm-12">
                                <div class="mb-3"><label class="visually-hidden" for="id_student_age">Student age</label>
                                  <input type="number" name="student_age" class="form-control" placeholder="Student age" required="" id="id_student_age" min="2" max="120" title="Age must be between 2 and 120" required></div>
                              </div>
                              <div class="col-sm-12">
                                <div class="mb-3"><label class="visually-hidden" for="id_student_address">Student address</label>
                                  <input type="text" name="student_address" maxlength="250" class="form-control" placeholder="Student address" required="" id="id_student_address"  ></div>
                              </div>
                              <div class="col-sm-12">
                                <div class="mb-3"><label class="visually-hidden" for="id_student_contact">Student contact</label>
                                 <input type="number" name="student_contact" class="form-control" placeholder="Student contact" required="" id="id_student_contact" minlength="4" maxlength="20" title="Please enter a valid phone number (4 to 20 characters)" required></div>
                              </div>
                              <div class="col-sm-12">
                                <div class="mb-3"><label class="visually-hidden" for="id_student_email">Student email</label>
                                  <input type="email" name="student_email" maxlength="250" class="form-control" placeholder="Student email" id="id_student_email"></div>
                              </div>
                              <div class="col-sm-12">
                                <div class="mb-3"><label class="visually-hidden" for="id_student_standard">Student standard</label>
                                  <input type="number" name="student_standard" class="form-control" placeholder="Student standard" required="" id="id_student_standard"min="1" max="120" required></div>
                              </div>
                              <div class="col-sm-12">
                                <div class="mb-3"><label class="visually-hidden" for="id_student_rollno">Student rollno</label>
                                  <input type="number" name="student_rollno" class="form-control" placeholder="Student rollno" required="" id="id_student_rollno" min="1" max="100" required ></div>
                              </div>
                              <div>
                              <label for="id_student_photo"></label>
                              <input type="file" name="student_photo" accept="image/*" id="id_student_photo" required>
                              </div>
                              <button type="submit" class="  btn btn-success mt-3">save</button>
                            </div>
                      </div>      
                              
               </form>  {% endcomment %}
               <form method="post">
               {% csrf_token %}
               <div class="heading text-center bg-dark text-white">
                <h1>ADD YOUR DETAILS </h1>
              </div>
               <div class="container col-md-7 col-lg-8">
               {% bootstrap_field form.student_name show_label=false  %}
               {% bootstrap_field form.student_age show_label=false  %}
               {% bootstrap_field form.student_rollno show_label=false  %}
               {% bootstrap_field form.student_address show_label=false  %}
               {% bootstrap_field form.student_contact show_label=false  %}
               {% bootstrap_field form.student_email show_label=false  %}
               {% bootstrap_field form.student_standard show_label=false  %}
               {% bootstrap_field form.student_photo show_label=false  %}
              <button type="submit" class="  btn btn-success mt-3">save</button>
               </div>
            
              
           </div>
         </div>
       </div>
     </div>
   </div>
 </div> 
</section>     
{% endblock %}


        