{% extends 'base.html' %}
 {% block title %}Student List{% endblock %} 
{% block content %}
<section>
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-7">
        <div class="card mt-4">
          <div class="row">
            <div class="col-sm-12">
              <div class="heading text-center bg-dark text-white">
                <h1>Student Ranks based on Percentage</h1>
              </div>
              <div class="col-sm-3 mb-3">
                <select name="term" class="form-select" id="id_term_select">
                  <option value="First Term" selected>First Term</option>
                  <option value="Second Term">Second Term</option>
                  <option value="Final Term">Final Term</option>
                </select>
              </div>
            </div>
          </div>
          <table class="table table-bordered mt-3" id="student-rank-table">
            <!-- Table headers -->
            <thead>
              <tr>
                <th>Student Name</th>
                <th>Percentage</th>
                <th>Rank</th>
              </tr>
            </thead>
            <tbody id="student-rank-body">
              <!-- Table body will be populated through AJAX -->
              {% for mark in object_list %}
              <tr>
                <td>{{ mark.students.student_name }}</td>
                <td>{{ mark.Calculate_percentage }}</td>
                <td>{{ forloop.counter }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %} 

{% block extra_js %}
<script>
  $(document).ready(function() {
      $('#id_term_select').change(function() {
          var term = $(this).val();
          $.ajax({
              type: 'GET',
              url: '{% url 'student_rank' %}',
              data: { term: term },
              success: function(data) {
                  // Replace the content inside the 'student-rank-table' div only
                  $('#student-rank-body').html($(data).find('#student-rank-body').html());
              },
              error: function(xhr, status, error) {
                  console.error(error);
              }
          });
      });
  });
</script>
{% endblock extra_js %}
